site_name: Makim
site_url: https://osl-incubator.github.io/makim
repo_url: https://github.com/osl-incubator/makim.git
docs_dir: ./docs
site_dir: ./build
# extra_css:
#   - stylesheets/extra.css
theme:
  name: material
  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - header.autohide
    - navigation.indexes
    - navigation.instant
    - search.highlight
    - search.share
    - search.suggest
  icon:
    repo: fontawesome/brands/github
  logo: ./images/logo.png
  favicon: ./images/favicon.ico
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: white
      accent: lime
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: white
      accent: lime
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
plugins:
  - search
  - macros
  # - autorefs
  # - exclude:
  #     glob:
  #       - backends/template.md
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          inventories:
            - https://docs.python.org/3/objects.inv
          options:
            docstring_style: numpy
            filters:
              - "!^Bounds"
              - "!^__class__"
              - "!^_filter_with_like"
              - "!^_find_backends"
              - "!^_key$"
              - "!^_literal_value_hash_key"
              - "!^_log"
              - "!^_nbytes"
              - "!^_safe_name$"
              - "!^_schema_from_csv"
              - "!^_to_geodataframe"
              - "!^_tuplize"
              - "!^ast_schema"
              - "!^backend_table_type"
              - "!^bounds$"
              - "!^column$"
              - "!^compiler$"
              - "!^context_class"
              - "!^database_class"
              - "!^do_connect"
              - "!^fetch_from_cursor"
              - "!^get_schema"
              - "!^largest$"
              - "!^reconnect"
              - "!^select_builder_class"
              - "!^select_class"
              - "!^table_class$"
              - "!^table_expr_class"
              - "!^translator_class"
              - "!^Options$"
            # Moved rendering options here under options
            show_category_heading: true
            show_root_full_path: false
            show_root_heading: true
            show_root_toc_entry: true
            show_source: false
  - mkdocs-jupyter:
      execute: false
      include: ["*.ipynb"]
      ignore:
        - "*.py"
        - ".ipynb_checkpoints/*"
      # execute_ignore: "tutorial/*Geospatial*.ipynb"
      include_source: true
      include_requirejs: true
  - literate-nav
markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - def_list
  - footnotes
  - md_in_html
  - meta
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - docs/static/icons
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.magiclink:
      provider: github
      repo_url_shortener: true
  - pymdownx.saneheaders
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - tables
  - toc:
      permalink: true
extra:
  project_name: "Makim"
  team:
    - name: "Active maintainers"
      members:
        - xmnlab
    - name: "Former maintainers"
      members:
        - xmnlab
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/opensciencelabs
    - icon: fontawesome/brands/github
      link: https://github.com/osl-incubator/makim.git
  support_levels:
    supported:
      icon: :material-check-decagram:{ .verified }
      description: Tested in CI. If this doesn't work for you, please [file an issue](https://github.com/osl-incubator/makim.git/issues/new).
    bug:
      icon: :material-bug:{ .bug }
      description: Should work but doesn't because upstream is broken. Supported on a best-effort basis.
    unsupported:
      icon: :material-cancel:{ .cancel }
      description: Unlikely to ever be supported or no upstream support.

copyright: "Copyright &copy; 2025, Makim Team"
