name: build

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        python_version:
          - '3.8'
          - '3.9'
          - '3.10'
        os:
          - 'ubuntu'
          - 'macos'
          # poetry is failing on windows: https://github.com/python-poetry/poetry/issues/1031
          # - 'windows'

    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 20

    defaults:
      run:
        shell: bash -l {0}

    concurrency:
      group: ci-${{ matrix.os }}-${{ matrix.python_version }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
    - uses: actions/checkout@v3

    - name: Install MacOS extra tools and add extra config
      if: ${{ matrix.os == 'macos' }}
      run: |
        brew install gnu-sed
        echo 'export PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"' >> ~/.bashrc
        echo 'export PATH="/usr/local/opt/gnu-sed/libexec/gnubin:$PATH"' >> ~/.bash_profile

    - name: Prepare conda environment (windows)
      if: ${{ matrix.os == 'windows' }}
      run: |
        $env:Path += ";C:\Program Files\Git\usr\bin"
        sed -i s/python\ 3\.8/python\ ${{ matrix.python_version }}/ conda/dev.yaml
        cat conda/dev.yaml

    - name: Prepare conda environment
      if: ${{ matrix.os != 'windows' }}
      run: |
        sed -i s/python\ 3\.8/python\ ${{ matrix.python_version }}/ conda/dev.yaml
        cat conda/dev.yaml

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        environment-file: conda/dev.yaml
        channels: conda-forge,nodefaults
        activate-environment: makim
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: Install dependencies
      run: poetry install

    - name: Run tests
      env:
        MAKIM_FILE_ARG: "--makim-file tests/.makim.yaml"
      run: |
        makim ${MAKIM_FILE_ARG} --help
        makim ${MAKIM_FILE_ARG} --version
        makim ${MAKIM_FILE_ARG} clean
        makim ${MAKIM_FILE_ARG} default.clean
        makim ${MAKIM_FILE_ARG} build
        makim ${MAKIM_FILE_ARG} default.build
        # args not implemented yet
        # makim ${MAKIM_FILE_ARG} build --clean

    - name: Test documentation generation
      run: makim docs.build

    - name: Run style checks
      if: success() || failure()
      run: |
        pre-commit install
